/*
    Contenu
 */
.article{
    width: 100%;
}
.navigation{
    display: none;
}
@media (min-width: 1024px) {
    .navigation{
        display: inline-block;
        float: right;
        width: 30%;
        top: 0px;
    }
    .article{
        float: left;
        width: 70%;
    }
}