/*
    Base
 */
@font-face {
    font-family: "Encode Sans";
    src: url("../font/NotoSans-Regular.ttf");
}
body{
    font-family: "Noto Sans";
    margin: 0;
    color: #232323;
    font-size: 12pt;
}
a{
    text-decoration: none;
    color: #232323;
}

h1{
    font-weight: normal;
    font-size: 44pt;
    margin: 0px;
    padding:5px;
}
h3{
    font-weight: normal;
    font-size: 24pt;
    margin-bottom: 10px;
}
h4{
    font-weight: normal;
    font-size: 18pt;
    margin: 0px;
    padding-top: 25px;
}
h5{
    font-weight: normal;
    font-size: 14pt;
    padding: 5px 5px 5px 20px;
    margin: 0px;
    border-left: 3px solid white;
}
ul{
    list-style: none;
}
p{
    margin: 5px;
    font-size: 11pt;
    opacity: .8;
}

/*
    Positionnement basique
 */
.container{
    margin-left: 5px;
    margin-right: 5px;
}
@media (min-width: 800px) {
    .container{
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media (min-width: 400px) {
    .pull-left{
        float: left;
    }
    .pull-right{
        float: right;
    }
}

.ancre{
    opacity: .8;
    padding-top: 70px;
}






/*
    Lien
 */
.link-tous{
    display: block;
    margin-bottom: 80px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, .2);
    padding: 5px 0px 5px 0px;
}
.link{
    font-size: 11pt;
    color: #00acc1;
    opacity: .8;
}
.link:hover{
    opacity: 1;
}
.link-dark{
    color: whitesmoke;
}
/*
    Pagination
 */
.pagination{
    padding: 0;
    text-align: center;
}
.pagination > li{
    display: inline-block;
    padding: 5px 10px;
}
.pagination > li > a{
    color: #00acc1;
}
.pagination > .active{
    color: white;
    background-color: #00acc1;
}
.pagination > .disabled{
    color: white;
    background-color: #b0bec5;
}

/*
    Background color
 */
.bg-info{
    background-color:  #eceff1;
}

/*
    Contenu
 */
.article{
    width: 100%;
}
.navigation{
    display: none;
}
@media (min-width: 1024px) {
    .navigation{
        z-index: 3;
        display: inline-block;
        float: right;
        width: 20%;
    }
    .article{
        display: inline-block;
        width: 80%;
    }
}