/*
    Basic element
 */
form{
    width: 100%;
}
@media (min-width: 800px) {
    form{
        width: 60%;
    }
}
input, textarea, select {
    display: block;
    background-color: rgba(0, 0, 0, .1);
    color: black;
    font-size: 11pt;
    border: none;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}
label{
    margin-top: 10px;
    display: block;
}

/*
    Bouton
 */
.btn {
    display: inline-block;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0,0,0,.2);
    border: none;
    font-size:12pt;
}
.btn a{
    padding: 0px 10px 0px 10px;

}
.btn-primary{
    background-color: #0d47a1;
}

/*
    Container
 */
.content-btn, .content-input{
    width: 90%;
}

/*
    Coloration
 */
.form-group{
    width: 100%;
    padding:10px;
}
.has-error{
    background-color: rgba(176,100,100, .4);
    color: #ab1010;
    border-right: solid 3px #ab1010;
}