@media (min-width: 400px) {
    .profil-edition{
        float: right;
    }
}
.profil-content{
    padding: 20px 5%;
    font-size: 11pt;
}
.profil-label{
    opacity: .7;
    padding-right: 10px;

}
.profil-photo{
    width: 100px;
    height: 100px;
}
@media (min-width: 800px) {
    .label-photo{
        display: none;
    }
    .profil-photo{
        float: right;
        padding-top: 20px;
    }
}